html {
    font-family: 'Courier New', Courier, monospace;
}

#announcement-bar {
    font-family: Assistant;
    font-weight: 400;
}

h1, p{
  font-family: Assistant;
  font-weight: 400;
  font-style: normal;
}

banner-text h6{
  font-family: Assistant;
  font-weight: 0;
  color: beige
}

.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}